@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto:wght@300&display=swap');

$ff-primary: 'Cutive Mono', monospace;
$ff-secondary:  'Roboto', sans-serif;

$clr-light-bg:hsl(42, 53%, 81%);
$clr-light-footer:hsl(42, 53%, 73%);
$clr-light-text: hsl(211, 100%, 3%);
$clr-light-text-2: hsla(211, 100%, 3%, .8);

$clr-dark-bg:hsl(211, 100%, 3%);
$clr-dark-footer:hsl(240, 33%, 10%);
$clr-dark-text:hsl(0, 0%, 100%);
$clr-dark-text-2: hsl(0, 0%, 85%);

$clr-accent:hsl(207, 79%, 45%);
$clr-accent-2: hsla(207, 79%, 45%, .95);